 html, body{
	       width:100%;
		   height:100%;
		   margin:0;
		   padding:0;
		   overflow-x:hidden;
          }

   .container{
	   margin:0 auto;
	   position:relative;
	   width:99.8%;
	   height:45%;
	   padding-bottom: 25%;
	   border: solid 2px #2c2c2c;
      }
   
   
   .slide_img{
		position:absolute;
		width:100%;
		height:100%;	
	}
	
	 .slide_img img{
		width:100%;
		height:100%;
		top:0;
		left:0;
		right:0;
		/*z-index:-1;*/
	}
	
	#i1,#i2,#i3{
		display:none;
	}

 .pre, .next{
		
	   width:9%;
	   height:10%;
	   position:absolute;
	   top:50%;
	   z-index:9999;
	   cursor:pointer;	   
   }

   .pre{ 
	   background-image:url("../images/prev.png");
	   background-repeat: no-repeat;
	   left:0;
   }
   
   .next{
	    background-image:url("../images/next.png");
	    background-repeat: no-repeat;
	    right:-4%;  
   }  
  
  .nv{
	  width:100%;
	  height:11px;
	  bottom:12%;
	  position:absolute;
	  text-align:center;
	  z-index:99;
  }
  
  .dots{
	  top:0 px;
	  width:18px;
	  height:18px;
	  margin-left:16px;
	  position:absolute;
	  border-radius :50%;
	  
	  display: inline-block;
	  background:rgba(0,0,0,.6);
	  
  }
  .slide_img{
	  z-index: 1;
  }
  #i1:checked ~ #one,
  #i2:checked ~ #two,
  #i3:checked ~ #three{
	  z-index:9;
  }
  #i1:checked ~.nv #dot1,
  #i2:checked ~.nv #dot2,
  #i3:checked ~.nv #dot3{
	  background:#fff;
  }
  
  ul{
    list-style-type:none;
	display:flex;
	flex-wrap: wrap;
	justify-content:end;
	background-color:transparent;
	color:white;
	gap:20px;
    margin-right:120px;
	margin-top:2.5%;
	transition:0.3s ease;
  }
  
  ul li a{
	  text-decoration:none;
	  color:white;
  }
  ul li a:hover{
	  color:orangered;
	  
  }
  .active { 
 
   color:orangered !important;
    
}
  
  .nav{
	  position:relative;
	  top:0;
	  width:99.9%;
	  background-color:#0C0632;
	  display:flex;
	  justify-content:space-between;
	/* background-color:transparent;*/
	 z-index:10;
	   
  }
  .logo{
	  margin-left:7%;
	  margin-top:1%;
  }
   select{
	   margin-right:5%;
	  color:white;
	  background:rgba(0,0,0,.5);
	  background-color:transparent;
	  border-radius:none;
	  border:none;
	 
	   }
	.nav .menu-btn i{
    color:white;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
	   
   .btn_support{
	   padding:10px;
	   border-radius:5px;
	   border:2px;
	   background-color:#1BD599;
   }
   
   .content{
	   margin-left:65px;
	   width:950px;
	   height:480px;
	   color:#fff;
	   position:relative;
	   z-index:9;
   }
   
   h1 span{
	   color:orangered;
   }
   .content .par{
	   padding-left:100px;
	   padding-bottom:25px;
	   line-height:30px;
	   letter-spacing:1.2px;
	   position:relative;
	   font-family:Arial;
   }
   .content h1 {
	   font-family:Arial;
	   font-size:60px;
	   padding-left:98px;
	   margin-right:46%;
	   margin-top:12%;
	   letter-spacing:2px;
   }
   .content .btndis{
	   width:160px;
	   height:40px;
	   background-color:#1BD599;
	   border-radius:5px;
	   border:none;
	   color:#fff;
	   margin-bottom:10px;
	   margin-left:99px;
	   transition: 0.5s ease;
   }
   .content .btndis a{
	  text-decoration:none;
	  color:white;
	  
  }
  .content .btndis:hover{
	  background-color:#06AF50;
  }
  .content .btnConus{
	   width:160px;
	   height:40px;
	   background-color:orangered;
	   border-radius:5px;
	   border:none;
	   color:#fff;
	   margin-bottom:10px;
	   margin-left:25px;
	   transition: 0.5s ease;
   }
   .content .btnConus a{
	  text-decoration:none;
	  color:white;
	  
  }
  .content .btnConus:hover{
	  background-color:#E5400B;
	  
  }
                              /*====services====*/
  .services{
	  margin:0;
	  padding:0;
	  box-sizing:boder-box;
	  background-color: white;
	  transition:.2s linear;
	  font-family:"Poppins" ,sans-serif;
  }
  .wrapper{
	  margin-top:80px;
	  padding: 0 10%;
	  padding-bottom:10%;
	  text-transform:capitalize;
  }
  .svc_container{
	  display:grid;
	  margin-top:190px;
	  gap:30px;
	  grid-template-columns:repeat(auto-fit,minmax(580px, 1fr));
  }
  .box{
	  box-shadow: 5px 5px 6px  7px #DCE8E5;
	  height:19vh;
	  padding:15px;
	  text-align:justify;
	  border-radius:5px;
  }
 .box p {
	 font-size:12px;
 }
  .box i{
	  float:left;
	  color:#07BB85;
	  font-size:51px;
	  padding:20px;
	  gap:20px;
	  transition:.5s ease;
	  letter-spacing:1px;
  }
  
  .box i:hover{
	/*  transform:translate(2.2);*/
	top: -10px;
  }
   /* media query for services */
 @media (max-width:770px) {
	 .wrapper{
		 padding:5px;
		 margin-right:25px;
	 }
	 .box{
		 width:73%;
		 margin:15px;
	 }
	
 }
    /*=====footer of services====*/
 
 .footer{
	    background-image:url("../images/cta-bg.jpg");
	    background-repeat: no-repeat;
		width:100%;
		
		 }
		 .fcontent{
			 position:relative;
			 display:flex;
			 display:inline; 
		 }
		 
		 .mbutton{
			 float:right;
			 margin-top:-9%;
			 margin-right:50px;
			 
		 }
		 .fcontent h4{
	   font-family:'Time New Roman';
	   font-size:50px;
	   color:white;
	   padding-left:55px;
	   margin-top:-12.2%;
	   letter-spacing:2px;	
	   
		 }
		 
		  .d_m{
			  width:160px;
	   height:40px;
	   background-color:#1BD599;
	   border-radius:5px;
	    border:none;
	   color:#fff;
	   margin-right:25px;
	   transition: 0.5s ease;
	   position:relative;
		 }
		 
	 .d_m a{
	  text-decoration:none;
	  color:white;
	  
  }
  
   .d_m:hover{
	  background-color:#06AF50;
  }
		  .c_us{
	   width:160px;
	   height:40px;
	   background-color:orangered;
	   border-radius:5px;
	   border:none;
	   color:#fff;
	   transition: 0.5s ease;
	   position:relative;
		 }
		  .c_us a{
	  text-decoration:none;
	  color:white;
	  
  }
   .C_us:hover{
	  background-color:#E5400B;
  }
		 
 h4 em{
	 color:#43ba7f;
 }
 
 h4 strong{
	 color:#ff511a;
 }
 /*========media query for buttons=====*/
 @media (max-width: 700px){
	.about{
		position:relative;
		transform:translateY(-10%);
	}
	.services{
		margin-top:20%;
	}
	.footer{
		margin-top:40%;
	}
	
	div .fs {
	transform:translateY(-130%);
	text-align:center;
	  padding:3px;
	  font-size:2px;
	  font-family:Arial;
	}
	
	div .mbutton{
		position:relative;
		transform:translateY(-750%);
	}
	.fotr{
		width:100%;
		height:60%;
	}
	
 }
 
                 /*======ABOUt uS======*/
 .headingau{
	 margin-top:180px;
	 text-align:center;
	 color:orangered;
	 font-family:Arial;
 }
 .headingkb{
	 font-family:Arial;
	 text-align:center;
	 line-height:15px;
 }
 .abcontent{
	 float:right;
	 padding-left:25px;
	 padding-top:35px;
	 margin-top: -655px;
	 margin-bottom:65px;
	 margin-right:55px;
	 font-family:Arial;
 }
 
 .headap{
	 font-size:25px;
	 font-family:Arial;
 }
 .dm{
	width:160px;
	   height:40px;
	   background-color:#1BD599;
	   border-radius:5px;
	   border:none;
	   color:#fff;
	   margin-bottom:10px;
	   transition: 0.5s ease;
   }
    .dm a{
	  text-decoration:none;
	  color:white;
	  
  }
  .dm:hover{
	  background-color:#06AF50;
  } 
  .table{
	  margin-top:45px;
	  margin-left:25px;
	  width:60%;
	  align-content:center;
	  border-bottom: 1px solid #909090;
  }
  
  th,td{
  padding-top: 45px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 45px;
  font-family:Arial;
  border-bottom: none;

  }
  th{ 
      
	  font-size:18px;
	  line-height:15px;
  }
  #head{
	  box-shadow:2px 2px 3px  3px #DCE8E5;
  }
  .font{
	  color:orangered;
  }
  .text{
	 color:#068C6A;
     font-size:16px;;	 
  }
  .formcontent{
	  background-image:url(../images/calculator-bg.jpg);
      width:100%;
	  height:90%;
	  background-size: cover;
	  margin-top:155px;  
  }
  
   .fominfo{
	 display:flex;
	 justify-content:center;
	 align-items:center;
 }
 
  .formcontainer {
	  height:90%;
	  display:flex;
	 justify-content:center;
	 align-items:center;
	 
  }
  .formcontainer{
	    width:470px;
		height:500px;
		display:flex;
		justify-content:center;
		box-shadow:20px 20px 50px rgba(0,0,0,.5);
		border-radius:15px;
		background:rgba(255, 255, 255,0.1);
		backdrop-filter: blur(10px);
		flex-wrap:wrap;
  }
  .sidimg{
	  margin-top:-25px;
  }
  
  h4 .yr{
	  color:orangered;
	  margin-top:20px;
	  text-align:center;
	  font-family:Arial;
  }
  
 h2 .gap{
	  color:white;
	  margin-top:px;
	  text-align:left;
	  font-family:Arial;
	  
      }
  
  form input{
	  display: block;
	  width:240px;
	  height:30px;
	  padding-left:10px;
	  outline:none;
	  border:none;
	  font-size:15px;
	  margin-bottom:10px;
	  background:none;
	  border-bottom:2px solid #fff;
  }
  
 form textarea {
	  width:240px;
	  height:30px;
	  padding-left:10px;
	  outline:none;
	  border:none;
	  font-size:15px;
	  margin-bottom:10px;
	  background:none;
	  border-bottom:2px solid #fff;

 }
   
   .snbtn{
	    width:160px;
	    height:40px;
		margin-bottom:50px;
	    background-color:orangered;
	    border-radius:5px;
	    border:none;
	    color:#fff;
	   position:relative;
	   transition: 0.5s ease;
       }
 
  
    .snbtn a{
	  text-decoration:none;
	  color:white;
	  
  }
  .snbtn:hover{
	  background-color:#E5400B;
  } 
  .yr{
	  font-family:Arial;
	  color:orangered;
  }
  .plan{
	  font-family:Arial;
	  color:white;
	  font-weight:500;
  }
  /*== =========Maedia query for form only=========  ==*/
   @media (max-width: 700px){
	  .formcontainer{
		 width:180%;
		height:80%;
		padding-right:30%;
		padding-left:30%;
		display:block;
		margin-top:10%;
		margin-right:10%;
 
	  }
	  .abcontent{
		 transform:translateX(55px);
	  }
	
     .sidimg{
		 display:none;
	 }
        /*===== ==================== aboutmedia queryheading start==============  ======*/	 
     .about {
		 display: flex;
		 flex-flow:row wrap;
		 justify-content:center;
		 margin-top: 15px;
		} 
		
	 .headingau{
		text-align:center;
		margin:60px;	 
		 }
	.headingkb{
		margin:40px;
		 }
		 /*== =========================aboutmedia query heading end============ ===*/
		 /*==  ========================media query about table start=============== ==*/
	 .about .table,.abcontent {
		 flex:1;
		 margin:5px;
		 padding:5px; 
	 }
	
	.about  .table{
	  width:100%;
	  height:100vh;
	  padding:15px;
	  margin-top:-115px;
	  align-content:center;
	  border-bottom: 1px solid #909090;
  }
  thead th{
	  margin-left:40px;
		  
  }
  th,td{
	  font-size:small;
	  padding:15px;
	  
  }
   }    /*==  ========================media query about table end=============== ==*/
         /*====  ========================TESTIMONIALS=========================  ==*/
		 
		.Testimonials{
	  margin:0;
	  padding:0;
	  box-sizing:boder-box;
	  background-color: white;
	  transition:.2s linear;
	  font-family:"Poppins" ,sans-serif;
		}
		
       .ceocontent{
		   margin-top:10%;
		   margin-bottom:15%;
		   position:relative;
		   transform: translateX(95px);
		   height:50vh;
		   margin-left:60px;
		   width:65%;
		   border-radius:10px;
		   box-shadow:-6px -6px  6px #789993 ,6px 6px 6px #789993;
	   }
	   .ceorel{
		   transform: translateX(35px);
	   }
		
  /*============Testimonials h1,h3=============*/
  .testihead{
	  text-align:center;
	  font-family:Arial;
  }
 .tes{
	  color:orangered;
  }
  .slideimag{
	  float:right;
	  height:50vh;
	  width:30%;
	  background-image:url(../images/testimonials-01.jpg);
	  background-repeat:no-repeat;
	  /*background-size: cover;*/
  }
  .Name{
	  font-family:Arial;
	  font-weight:300;
  }
  .CEO{
	 font-family:Arial;
	 color:#058E66;
  }
  
  div i{
	  color:#07BB85;
	  font-size:41px;
	  padding:25px;
  }
  /*.marq{
	  
       padding-bottom: 30px; 
  } */  
		   /* ======================page footer start ==================== */
  .bottomimg{
	        display:flex;
			justify-content:center;
			align-items:center;
	        position:relative;
	        margin-top:2%;
	        height:32%;
	        background-color:#1B172E;
		    width:100%;		
  }
  .bottomimg img{
	  margin:20px;
  }
  
 .pagebottom {
	        padding-top:2%;
	  	    height:15%;
	        background-color:#181d30;
		    width:100%;	
  }
 
  .btmco{
	  text-align:center;
	  color:white;
  }
  .fubtm{
	  text-align:center;
	  color:white;
  }
  .fubtm span{
	  
	  color:orangered;
  }
  .fubtm span:hover{
	  color:#3E1DE7;
  }
            /* ======================page footer end ==================== */
			
             /*===========media query for Testimonials==========*/
	@media screen and (max-width: 768px){
       .ceocontent{
		margin-top:-60px;
		width:100%;
		height:65vh;
		transform: translateX(-40px);
	   }
	 /*  .tes{
		  transform: translateY(-95px);
	   }
	   .Wheading{
		   transform: translateY(-55px);
	   }*/
	   .testihead{
		   text-align:center;
		   transform: translateY(-75px);
	   }
	div   .slideimag{
		   height:19vh;
		   width:25%;
		   background-size:cover;
	   }
	   .ceorel{
		   transform: translateX(10px);
		   letter-spacing:2px;
		   justify-content:justify;
	   }
	   .Name{
		   margin-top:20px;
	   }
	   .bottomimg{
		   height:350px;
		   display:flex;
		   flex-wrap:wrap;
	   }
	    .slide_img{
		 margin-top:-10px;
		 width:100%;
		 height:80vh;
		 z-index:1;
	 }
	  
	
 /*== ============Media query for navbars ans slideimages===============  ==*/
  .nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    .nav ul{
      z-index:0;
      position:fixed;
      
      right:0;
      background-color:transparent;
      height: 50vh;
      width: 45%;
      border-radius:0px 0px 10px 10px;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      right : 0;
	  top:80;
	  width:70%;
	  background:#E6F5F5;
    }
   .nav ul li{
      width: 50%;
      margin: 10px 0;
      text-align:center;
    }
	a.btn_support{
	   padding:10px;
	   width:100%;
	   margin:15px;
   }

    .nav ul li a{
      width: 100%;
	  color:#78789C;
      margin-top: -100%;
      display: block;
      font-size:15px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-top: 0px;
    }
    .nav ul li a.active,
    .nav ul li a:hover{
      background: none;
      color:orangered;
    }
	select {
	background:#E6F5F5;
	margin-left:5%;
    color:#78789C;
	padding-left:10px;
    font-size:16px;	
     }
	  select .e:hover{
		 color:red;
	 }
	 .e a{
		 background:white;
		 border-bottom:2px solid black;
		 color:grey;
		 margin:5px 5px;
		 
	 }
  
  .dots{
	  display:none;
  }
  
  .par{
     display:none;
  }
  .content{
	  margin-top:25px;
	  height:65vh;
	  width:100%;
	  transform:translateX(-30px);
	  
	 
  }
  .contentbtn{
	 /* display:inline-block;*/
	  display:flex;
	  justify-content:center;
	  margin-bottom:-45px;
	  margin-right:109px;
	 transform:translateY(-40px);
  }
  .pre, .next{
	transform:translateX(-15px);  
  }

  .contenthead h1{
	   display:flex;
	  flex-direction:column;
	  text-align:center;
	  flex-wrap:wrap;
	  font-size:50px;
	  font-family:Arial;
	  height:55vh;
	  width:100%;
	  margin:20px;
	  margin-top:40px;
	  margin-left:-105px;
  }
  h1 .heading{
	  margin-right:55px;
  }
  /*==  ===============media query for navbars ans slideimagest==================  ==*/ 
  }
  
	
  